<div class="container color-dark">
  <div class="col">
    <p>Add a bucket list item</p> 
  </div> 
  <p>Your bucket list</p>
</div>


<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form bellow</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="life goal..">
      <input type="submit" class="btn" value="add Item">
      </form>
  </div>
  <div class="col"></div>>
    <p class="life-container">
      I want to climb Ben Nevis
    </p>
</div>

